.row
  .small-12.columns
    %h2= t('site.index.h2')

.row
  .small-12.columns
    %table
      %thead
        %tr
          %th= t('site.form.nom')
          %th.hide-for-small-only
            = fa_icon 'rss'
            = t('site.index.url')
          %th.text-center= fa_icon 'eye'
          %th.text-center= fa_icon 'pencil'
          %th.text-center= fa_icon 'trash'
      %tbody
        - if @readers.present?
          - @readers.each do |site|
            %tr
              %td= site.nom
              %td.hide-for-small-only= site.domaine
              %td= link_to t('button.show'), site
              %td= link_to t('button.edit'), edit_site_path(site)
              %td
                = link_to t('button.destroy'), site, method: :delete,
                  data: { confirm: t('ask-delete') }
        - else
          %tr
            %td.text-center{ colspan: 5 }
              Nothing yet !


.row
  .small-12.columns.text-right
    = link_to t('site.index.add'), new_reader_path
