.row
  .small-12.columns
    - @reader.news.each do |new|
      .row
        .small-12.columns
          %b= new.titre
          \-
          = new.publication
        .small-12.columns
          = raw new.texte
        .small-12.columns
          %hr

.row
  .small-12.columns.text-right
    = link_to 'Edit', edit_reader_path(@reader)
    \|
    = link_to 'Back', readers_path
