%p#notice= notice

.row
  .small-2.columns
    %b= t('site.form.nom')
  .small-10.columns= @reader.nom
.row
  .small-2.columns
    %b= t('site.form.domaine')
  .small-10.columns= link_to @reader.domaine
.row
  .small-2.columns
    %b= t('site.form.description')
  .small-10.columns= @reader.description
.row
  .small-2.columns
    %b= t('site.relation.news')
  .small-10.columns
    %ul
      - @reader.news.each do |new|
        %li
          = new.publication
          \-
          %b= new.titre
        %li= raw new.texte

.row
  .small-12.columns.text-right
    = link_to 'Edit', edit_reader_path(@reader)
    \|
    = link_to 'Back', readers_path
