.row
  .shrink.columns.left{ 'data-sticky-container': 'true' }
    %ul.menu.vertical.sticky{ 'data-sticky': 'true', 'data-anchor': '#news' }
      - @readers.each do |new|
        %li= link_to new.nom, "##{new.nom}"
  .columns.right#news
    - @news.each do |news|
      %h6= "# #{news[:title]}"
      %hr
      %ul.accordion{ 'data-accordion': 'true', 'data-multi-expand': 'true' }
        - news[:news].each_with_index do |new, index|
          %li{ id: news[:title].to_s,
               class: "accordion-item #{index.zero? ? 'is-active' : ''}",
               'data-accordion-item': 'true' }
            %a.accordion-title{ href: '#' }= new.titre
            .accordion-content{ 'data-tab-content': 'true' }= raw new.texte
