%h3
  = link_to "http://#{leSite.domaine}" do
    = fa_icon "link"
    = leSite.domaine
  \|
  = link_to news_path(site_id: leSite.id) do
    = leSite.nom
  \|
  = link_to news_path(site_id: leSite.id, format: "atom"), class: "small" do
    = fa_icon "rss"
    = t('flux.shared.souscrire', site: leSite.nom)
