#flux
  %h2.row
    .small-10.columns
      = t 'flux.index.h2'
    .small-2.columns.text-right
      %span.badge= Site.all.count
  - @sites.each do |site|
    .button-group.expanded
      = button_group_link(site)
      = button_group_rss(site)
      = button_group_news(site)
    .row
      .small-6.columns
        = render partial: 'new',
          locals: { uneNews: site.news.last, leSite: site.id }
      .small-6.columns.callout
        %h4= site.nom
        %p= site.description
