%nav.top-bar{:"data-topbar" => true, :role => "navigation"}
  %ul.title-area
    %li.name
      %h1=link_to "Dinin", root_path
  %section.top-bar-section
    %ul.right
      - unless utilisateur_signed_in?
        %li= link_to 'Inscription', new_utilisateur_registration_path
        %li= link_to 'Connection', new_utilisateur_session_path
      - else
        %li= link_to 'Sites', sites_path
        %li= link_to 'Profile', edit_utilisateur_registration_path
        %li= link_to 'Deconnexion', destroy_utilisateur_session_path, method: :delete
