%li
  = link_to readers_path do
    = fa_icon 'th-list'
    Reader
%li
  = link_to writers_path do
    = fa_icon 'pencil'
    Writer
%li
  = link_to sites_path do
    = fa_icon 'sitemap'
    Sites
%li
  = link_to edit_utilisateur_registration_path do
    = fa_icon 'user'
    Profile
%li
  = link_to destroy_utilisateur_session_path, method: :delete do
    = fa_icon 'power-off'
    Deconnexion
