%li
  = link_to '#' do
    = fa_icon 'newspaper-o'
    News
    %span.badge.warning= news_not_reading
%li
  = link_to readers_path do
    = fa_icon 'th-list'
    Reader
%li
  = link_to writers_path do
    = fa_icon 'pencil'
    Writer
%li
  = link_to sites_path do
    = fa_icon 'sitemap'
    Sites
%li
  = link_to edit_utilisateur_registration_path do
    = fa_icon 'user'
    Profile
%li
  = button_off destroy_utilisateur_session_path, method: :delete do
    = fa_icon 'power-off'
    Deconnexion
