.row
  .small-12.columns
    %p#notice= notice

.row
  .small-2.columns
    %b= t('site.form.nom')
  .small-10.columns= @site.nom
.row
  .small-2.columns
    %b= t('site.form.domaine')
  .small-10.columns= link_to @site.domaine
.row
  .small-2.columns
    %b= t('site.relation.news')
  .small-10.columns
    %ul
      - @site.news.each do |new|
        %li
          = new.titre
          = new.publication

.row
  .small-12.columns.text-right
    = link_to 'Edit', edit_site_path(@site)
    \|
    = link_to 'Back', sites_path
