!!!
%html
  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %title Dinin
    = favicon_link_tag 'favicon.ico'
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track': true
    = csrf_meta_tags
  %body
    = render 'shared/menu'
    %section.row
      .small-12.columns
        = yield
    = render 'shared/messages'
    = javascript_include_tag 'application', 'data-turbolinks-track': true
